<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>
    <link rel="stylesheet" href="/css/index.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar nav-dark">
        <div class="brand">
            <h1>Travel City</h1>
        </div>
        <div class="nav-items nav-item2">
            <a href="/admin">
                <div class="nav-item nav-item2">
                    <p>Home</p>
                </div>
            </a>
            <a href="/admin/messages">
                <div class="nav-item nav-item2">
                    <p>Message</sp>
                </div>
            </a>
            <a href="/admin/bloggers">
                <div class="nav-item nav-item2">
                    <p>Bloggers</p>
                </div>
            </a>
            <a href="/admin/users">
                <div class="nav-item nav-item2">

                    <p>Users</p>

                </div>
            </a>
            <a href="/admin/blogs">
                <div class="nav-item nav-item2">

                    <p>Blogs</p>

                </div>
            </a>
            <div class="dropdown">
                <button class="nav-item signin-button nav-item2 ">

                    <p>Admin</p>

                </button>
                <div class="dropdown-content">

                    <a href="/logout">Logout</a>

                </div>

            </div>

        </div>
    </nav>
    <section style="margin:2vh 9vw">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Blogger Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Blogname</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">View</th>
                    
                    
                    <th scope="col">action</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                {{#blogs}}
                <tr>
                    <th>{{name}}</th>
                    <td>{{email}}</td>

                    <td>{{blogname}}</td>
                    <td>{{createdAt}}</td>
                    <th> <a href="/adminblog/{{_id}}"> <button  class="btn btn-primary">View</button></a></th>
                    <th><form action="">
                        <select name="action" id="action">
                            <option >Select</option>
                            <option value="approve">Approve</option>
                            <option value="reject">Reject</option>
                           
                        </select>
                        <br><br>
                        <input type="submit" value="Submit">
                    </form></th>
                    <th> <form action="/admindeleteBlog/{{_id}}?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></th>
                    
                   
                </tr>
                {{/blogs}}
            </tbody>
        </table>

    </section>
</body>

</html>