<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel </title>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/viewblog.css">
    <link rel="stylesheet" href="/css/viewallblog.css">
    <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar nav-dark">
      <div class="brand">
        <h1>LOGO</h1>
      </div>
      <div class="nav-items nav-item2">
        <div class="nav-item">
          <a href="/" style="color:black"> Home</a>
        </div>
        <div class="nav-item nav-item2">
          <p>About Us</p>
        </div>
        <div class="nav-item nav-item2">
          <p>Contact Us</p>
        </div>
        <div class="nav-item nav-item2">
          <a href="/blogs">
            <p class="nav-item2">Blogs</p>
          </a>
        </div>
        {{!-- <div class="dropdown">
                <button class="nav-item signin-button nav-item2 b-2">
                    {{#profile}}
                    <p>H! {{name}}</p>
                    {{/profile}}
                </button>
                <div class="dropdown-content">
                    <a href="/myblogs">My Blogs</a>
                    <a href="/logout">Logout</a>
    
                </div>
    
            </div> --}}

      </div>
    </nav>
    <div class="container-blogs">
        {{#fullBlog}}
      <div class="blog-part">
        <h1 >{{blogname}}</h1>
        <p class="auth-name mb-1"><i class="fas fa-user-alt me-1"></i>{{name}} <i class="fas fa-envelope me-1 ms-2"></i>{{email}} <i
            class="fas fa-clock me-1 ms-2"></i>{{ dateFormat createdAt "dd, MM Do YY, h:mm:ss a" }}</p>
        <p class="mb-1">{{blogdesc}}</p>
        <img class="mb-1" src="{{blogimage}}" alt="Blog IMG"  height="400"/>
        <p>{{blogcontent}}</p>
      </div>
      <div class="author-part">
          <h4><i class="fas fa-user-alt me-1"></i> Author: {{name}} </h4><p> <i class="fas fa-envelope me-1 "></i> Email: {{email}}</p>
          <p>auth desc</p>
      </div>
      {{/fullBlog}}
    </div>
  </body>
</html>