<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/createblog.css">
    
</head>

<body>
    <nav class="navbar nav-dark">
        <div class="brand ">
            <h1>LOGO</h1>
        </div>
        <div class="nav-items nav-item2">
            <div class="nav-item">
                <a href="/blogger" style="color:black"> Home</a>
            </div>
            <div class="nav-item nav-item2">
                <p>About Us</p>
            </div>
            <div class="nav-item nav-item2">
                <p>Contact Us</p>
            </div>
            <div class="nav-item nav-item2">
                <a href="/blog">
                    <p class="nav-item2">New Blog</p>
                </a>
            </div>
            <div class="dropdown">
                <button class="nav-item signin-button nav-item2 b-2">
                    {{#profile}}
                    <p>H! {{name}}</p>
                    {{/profile}}
                </button>
                <div class="dropdown-content">
                    <a href="/myblogs">My Blogs</a>
                    <a href="/logout">Logout</a>
    
                </div>
    
            </div>
    
        </div>
    </nav>
    <div class="container-createblog">
        {{#fullBlog}}
        <h1></h1>
        <form class="form1" id="form1" method="POST" action="/editBlog/{{_id}}?_method=PUT">
            <h2>Blog Titile</h2>
            <input class="textbox-blog-title" value={{blogname}} name="blogname" type="text" placeholder="Blog Name"
                required />
            <h2>Blog desc</h2>
            <textarea class="textbox-blog-body" name="blogcontent" id="" cols="30" rows="10">{{blogcontent}} </textarea>
            <h2>Blog </h2>
            <textarea class="textbox-blog-body" name="blogdesc" id="" cols="30" rows="10">{{blogdesc}}</textarea>
            <h2>tags</h2>
            <textarea class="textbox-blog-body" name="tags" id="" cols="30" rows="10">{{tags}}</textarea>
            <button class="create-btn" type="submit">Update</button>
            {{/fullBlog}}
        </form>
    </div>
</body>

</html>