<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar">
        <div class="brand">
            <img src="/assets/travelocitylogo.svg" alt="logo" width="280">
            {{!-- <h1>TraveloCity</h1> --}}
        </div>
        
        <div class="nav-items">
            <a href="/">
            <div class="nav-item">
                <p>Home</p>
            </div>
            </a>
            <a href="/aboutus">
            <div class="nav-item">
                <p>About Us</p>
            </div>
            </a>
            <a href="/blogshome">
            <div class="nav-item">
                <p>blogs</p>
            </div>
            </a>
            <a href="/contactus">
            <div class="nav-item">
                <p>Contact Us</p>
            </div>
            </a>
            <a href="/signInUpUser">
                <div class="nav-item signin-button">
                    <p>Sign In</p>
                </div>
            </a>
            <a href="/signInUp">
                <div class="nav-item signin-button" style="margin-left: 1vw;">
                    <p>Blogger</p>
                </div>
            </a>
        </div>
    </nav>
    <section class="hero-sec">
        <div class="sky"></div>
        <div class="foreground"></div>
        <div class="mountain"></div>
        <div class="hero-container">
            <h1>
                The World is a Book, <br />Those Who do not Travel<br />Read Only One
                Page
            </h1>
            <p>Browse Our Blog list</p>
            <button>Explore Now <span class="fas fa-chevron-right"></span></button>
        </div>
    </section>
    <section class="sec2">
        <div class="sec-container">
            <h1>Latest Blogs</h1>
            <div class="sec-head-border"></div>
            <div class="card-div">
                <div class="card">
                    <span class="">
                        <img class="card-img" src="{{blog.0.blogimage}}" alt="" />
                    </span>
                    <h3>{{blog.0.blogname}}</h3>
                    <p>
                        {{blog.0.blogdesc}}
                    </p>
                   <a href="/blog/{{blog.1._id}}"> <button>Read More</button></a>
                </div>
    
                <div class="card">
                    <span class="">
                        <img class="card-img" src="{{blog.1.blogimage}}" alt="" />
                    </span>
                    <h3>{{blog.1.blogname}}</h3>
                    <p>
                    {{blog.1.blogdesc}}
                    </p>
                    <a href="/blog/{{blog.1._id}}"><button>Read More</button></a>
                </div>
    
                <div class="card">
                    <span class="">
                        <img class="card-img" src="{{blog.2.blogimage}}" alt="" />
                    </span>
                    <h3>{{blog.2.blogname}}</h3>
                    <p>
                        {{blog.2.blogdesc}}
                    </p>
                    <a href="/blog/{{blog.2._id}}"><button>Read More</button></a>
                </div>
            </div>
        </div>
    </section>
    <section class="sec3">
        <div class="sec-container">
            <h1>Share Your Travel Blog</h1>
            <div class="sec-head-border"></div>
    
            <div class="s-3-slider-bg">
                <img class="sec3-image" src="assets/man.png" alt="a man" />
                <div class="sec3-info">
                    <h1>What is a Blog. and How to write a Blog?</h1>
                    <p>know what is a blog and how to write your travel blog through travelocity click on know more button.</p>
                    <a href="/whatisblog"> <button>Know now</button></a>
                    
                    
                </div>
            </div>
        </div>
     </section> 




    {{!-- <h1>Travel Blog</h1>
    <a href="/signInUp">SignInUp</a>
    <a href="/logout">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/blog">CreateBlog</a>
    <a href="/blogs">FindBlog</a>

    {{#blog}}
    <h1>{{name}}</h1>
    <h2>{{email}}</h2>
    <h2>{{blogname}}</h2>
    <p>{{blogcontent}}</p>
    {{/blog}}--}}
    
</body>

</html>