<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/viewblog.css">
</head>

<body>
    <nav class="navbar nav-dark">
        <div class="brand ">
            <h1>TraveloCity</h1>
        </div>
        <div class="nav-items nav-item2">
            <div class="nav-item">
                <a href="/blogger" style="color:black"> Home</a>
            </div>
            <a href="/aboutus">
            <div class="nav-item nav-item2">
                <p>About Us</p>
            </div>
            </a>
            <a href="/contactus">
            <div class="nav-item nav-item2">
                <p>Contact Us</p>
            </div>
            </a>
            <div class="nav-item nav-item2">
                <a href="/blog">
                    <p class="nav-item2">New Blog</p>
                </a>
            </div>
            <div class="dropdown">
                <button class="nav-item signin-button nav-item2 b-2">
                    {{#profile}}
                    <p>H! {{name}}</p>
                    {{/profile}}
                </button>
                <div class="dropdown-content">
                    <a href="/myblogs">My Blogs</a>
                    <a href="/logout">Logout</a>

                </div>

            </div>

        </div>
    </nav>
    <section style="margin:5vh 9vw">
        {{#blog}}
        <div style="width:70vw; margin:5vh 0;border: 2px solid black;padding:1vw;">
            <h1>{{blogname}}</h1>
            <h3>{{ dateFormat createdAt "dd, MM Do YY, h:mm:ss a" }}</h3>
            <img src={{blogimage}} alt="blog" height="400">
            <p>{{blogcontent}}</p>
            <a href="/myblog/{{_id}}">
                <button>edit</button> </a>
            <form action="/deleteBlog/{{_id}}?_method=DELETE" method="POST">
                <button type="submit">
                    delete
                </button>
            </form>
        </div>
        {{/blog}}
    </section>
</body>

</html>