<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveloCity</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/viewblog.css">
    <style>
        .btn {
            padding: 1vh 1vw;
            border: none;
        }

        .edit-btn {
            color: #fff;
            background-color: #ce3434;
        }

        .delete-blog {
            border: 1px solid #ce3434;
            color: #ce3434;
        }
    </style>
</head>

<body>
    <nav class="navbar nav-dark">
        <div class="brand ">
            <img src="/assets/travelocitylogo2.svg" alt="logo" width="280">
        </div>
        <div class="nav-items nav-item2">
            <a href="/blogger">
                <div class="nav-item">
                    <p style="color:black"> Home</p>
                </div>
            </a>
            <a href="/aboutus">
                <div class="nav-item nav-item2">
                    <p>About </p>
                </div>
            </a>
            <a href="/contactus">
                <div class="nav-item nav-item2">
                    <p>Contact </p>
                </div>
            </a>
            <a href="/blog">
                <div class="nav-item nav-item2">

                    <p class="nav-item2">New Blog</p>

                </div>
            </a>
            <div class="dropdown">
                <button class="nav-item signin-button nav-item2 b-2">
                    {{#profile}}
                    <p>H! {{name}}</p>
                    {{/profile}}
                </button>
                <div class="dropdown-content">
                    <a href="/myblogs">My Blogs</a>
                    <a href="/logout">Logout</a>

                </div>

            </div>

        </div>
    </nav>
    <section style="margin:5vh 9vw">
        {{#blog}}
        <div style="width:70vw; margin:5vh 0;border: 2px solid black;padding:1vw;">
            <h1>{{blogname}}</h1>
            <h3>{{ dateFormat createdAt "dd, MM Do YY, h:mm:ss a" }}</h3>
            <h2>Status: {{status}}</h2>
            <img src={{blogimage}} alt="blog" height="400">
            <p id="pre">{{blogcontent}}</p>
            <a href="/myblog/{{_id}}">
                <button class="btn edit-btn">edit</button> </a>
            <form action="/deleteBlog/{{_id}}?_method=DELETE" method="POST">
                <button class="btn delete-btn" type="submit">
                    delete
                </button>
            </form>
        </div>
        {{/blog}}
    </section>
</body>

</html>